*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
D:\Projetos\Udacity\Playground\PopularMovies\app\src\main\java\popularmovies\udacity\com\br\popularmovies\utilities\NetworkUtilities.java
